* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

body {
  background: #29526D;
}

.main {
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, textarea, button {
  font-size: 1.5em;
  outline: none;
  border: none;
  margin: 8px;
}

input, textarea {
  background: #090B3B;
  color: #545993;
}

.settings1 {
  font-size: 1.5em;
}

.settings1, .settings2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  padding: 0em;
  min-width: 16em;
  color: #003B1F;
  background: #287650;
}

textarea {
  font-family: "Lucida Console", Monaco, monospace;
  width: 40em;
}

input:focus, textarea:focus {
  color: #7F81B1;
  background: #090B3B;
}

.main {
  top: 0;
  width: 100%;
  padding: 0em;
  margin: 0em;
  background: #333676;
  color: #708FA3;
  display: flex;
  flex-direction: column;
}

a {
  color: #486F88;
}

.info {
  text-align: left;
}

.sliderlabel {
  margin: 0 8px
}

.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

select {
  color: #76B195;
  background: #29526D;
}

/* Hide default HTML checkbox */

.switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #287650;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus+.slider {
  box-shadow: 0 0 0px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(-1em);
  -ms-transform: translateX(-1em);
  transform: translateX(-1em);
}